@page
@model WebApplication1.Pages.AboutUsModel
@{
    ViewData["Title"] = "About Us";
}
<link rel="stylesheet" href="~/css/aboutus.css" />

<div class="main">
    <div class="developer__info">
        <h1>Our developers:</h1>
    </div>
    <div class="cards__container ">
        <div class="card">
            <div class="card__item first__person"></div>
            <div class="information">
                <ul class="info__list">
                    <li>
                        <p>Billy</p>
                    </li>
                    <li>
                        <p>Herrington</p>
                    </li>
                    <li>
                        <p>
                            Addres: Goluabaya Ustrica
                        </p>
                    </li>
                    <li>
                        <p>
                            Email: nenaebnaden'gi@com
                        </p>
                    </li>
                    <li>
                        <p>
                            Telephone: 8-800-353-55-55
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card__item second__person"></div>
            <div class="information">
                <ul class="info__list">
                    <li>
                        <p>Lysii</p>
                    </li>
                    <li>
                        <p>Ded</p>
                    </li>
                    <li>
                        <p>
                            Addres: Psihushka d2
                        </p>
                    </li>
                    <li>
                        <p>
                            Email: 300$.com
                        </p>
                    </li>
                    <li>
                        <p>
                            Telephone: 8-800-555-35-35
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
