@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/index.css" />
<div class="main-div">

    <ul class="carousel">

        <li class="carousel__item">
            <a href="#">
                <div class="carousel__item-wrapper">

                </div>
            </a>
        </li>

        <div class="carousel__controls">
            <button class="carousel__controls--left">&#8618;</button>
            <button class="carousel__controls--right">&#8617;</button>
        </div>
    </ul>
     
   

</div>
